.App {
  min-height: 100vh;
  background-color: #eeeeee;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App .Logo {
  margin: 24px 0;
}

.App .Logo img {
  height: 32px;
  transition: .25s ease;
}

.App .Logo img:hover {
  transform: scale(1.2);
}

